name: Deploy Live Docs

on:
  push:
    branches: [main, master]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      
      - name: Build Docs
        run: |
          uv venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH
          uv sync --group dev
          uv run pdoc ./src/transpiler_pro -o ./public
          
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public
          branch: gh-pages